:$PORT
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /$AUUID/* {
    $AUUID $MYUUID-HASH
}

@websocket_xrain_dm1lc3M {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-dm1lc3M
}
reverse_proxy @websocket_xrain_dm1lc3M 127.0.0.1:6234


@websocket_xrain_dmxlc3M {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-dmxlc3M
}
reverse_proxy @websocket_xrain_dmxlc3M 127.0.0.1:7234

@websocket_xrain_dHJvamFu {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-dHJvamFu
}
reverse_proxy @websocket_xrain_dHJvamFu 127.0.0.1:8234

@websocket_xrain_c2hhZG93c29ja3M {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-c2hhZG93c29ja3M
}
reverse_proxy @websocket_xrain_c2hhZG93c29ja3M 127.0.0.1:4234

@websocket_xrain_c29ja3M1 {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-c29ja3M1
}
reverse_proxy @websocket_xrain_c29ja3M1 127.0.0.1:5234
